
<div>
    <div style="display: inline" onclick="PrevImage()">
        <img src="https://www.pinclipart.com/picdir/big/345-3458901_arrow-pointing-to-left-svg-png-icon-free.png" height="60">
    </div>
    <div style="display: inline">
        <img src="../Static/Pics/1.jpg" height="300" id="image1">
    </div>
    <div style="display: inline">
        <img hidden src="../Static/Pics/2.jpeg" height="300" id="image2">
    </div>
    <div style="display: inline">
        <img hidden src="../Static/Pics/3.jpeg" height="300" id="image3">
    </div>
    <div style="display: inline">
        <img hidden src="../Static/Pics/4.jpg" height="300" id="image4">
    </div>
    <div style="display: inline" onclick="NextImage()">
        <img src="https://www.pinclipart.com/picdir/big/345-3458901_arrow-pointing-to-left-svg-png-icon-free.png" height="60" class="img-right">
    </div>
</div>
